<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap") 
    @Scripts.Render("~/bundles/jquery")
</head>

<body id="body">
   <nav class="navbar navbar-inverse " role="navigation">    
         <div id="xxx">
            <button id="1" value ="PROFILE1" type="button" class="btn btn-warning" onClick="location.href='/Home/Home'">Home</button>
             <button id="2" value ="PROFILE2" type="button" class="btn btn-warning" onClick="location.href='/Home/Contact'">Contact</button>
             <button id="3" value ="PROFILE3" type="button" class="btn btn-warning" onClick="location.href='/Home/Recommend'">Recommend</button>
             <button id="4" value ="PROFILE4" type="button" class="btn btn-warning" onClick="location.href='/Home/Recommendations'">Recommendations</button>
            
         </div> 













   </nav>



    <script type="text/javascript">
        function displayed() {
            var selectedprofile = document.getElementById('xxx').value;
            switch (selectedprofile) {
                case "PROFILE1":
                    displayed_P1();
                    break;
                case "PROFILE2":
                    displayed_P2();
                    break;
                case "PROFILE3":
                    displayed_P3();
                    break;
                case "PROFILE4":
                    displayed_P4();
                    break;

            }


        };
        //visible profile 1 and hides the other wed
        function displayed_P1() {
            $('#1').addClass("active");
            $('#2').removeClass("active");
            $('#3').removeClass("active");
            $('#4').removeClass("active");
           
        };
        //visible profile 2 and hides the other wed
        function displayed_P2() {
            document.getElementById('2').addClass("active");
            document.getElementById('1').removeClass("active");
            document.getElementById('3').removeClass("active");
            document.getElementById('4').removeClass("active");
        };
        //visible profile 3 and hides the other wed
        function displayed_P3() {
            document.getElementById('3').addClass("active");
            document.getElementById('2').removeClass("active");
            document.getElementById('1').removeClass("active");
            document.getElementById('4').removeClass("active");
        };
        //visible profile 4 and hides the other wed
        function displayed_P4() {
            document.getElementById('4').addClass("active");
            document.getElementById('2').removeClass("active");
            document.getElementById('3').removeClass("active");
            document.getElementById('1').removeClass("active");
        };



      
</script>
   @RenderBody()
    @RenderSection("scripts", required: false)

   
     
     

    
</body>
</html>