@{
    ViewBag.Title = "Recommendations";
}
 @Styles.Render("~/Content/style.css")
<h4 id="recoh4">COMENTARIOS</h4>
<div id="recodiv" >        
        @foreach (var item in ViewBag.comentarios)
        {   
            
            <div id="com">        
                <h6 id="recoh6" >Nombre:  @item.Nombre<br /><br />Fecha:  @item.Fecha<br /><br />Telefono: @item.Telefono<br /><br />
                    Correo Electronico: @item.CorreoElectronico<br /><br />Comentario: @item.Cometario</h6>
                               
            </div>   <br />  
        }
    

</div>